@charset "utf-8";
/* CSS Document */

/* color scheme 

purple - #5c4d8a
pink - #F97068
blue - #3E6990
orange - #f39b6d
green - #98B9AB
green 2 - #acb998
black - #545454
*/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body,
html {
    margin: 0;
    font-size: 18px;
    color: #545454;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background: rgb(255 255 255 / 75%);
    position: fixed;
    padding: 0px 0px 20px;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main_content {
    color: #545454;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
}

a, a:link, a:visited, a > span {
	position: relative;
	color:#3E6990;
	text-decoration: none;
}

a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform .5s ease;
}

p {
    margin-bottom: 20px;
}

.nav_anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.row {
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0;
}


/* =============== Header & Navigation ==================== 
   ========================================================*/

ul.menu {
    margin: 25px 0px 0px;
    float: right;
}

ul.menu li {
    text-align: center;
    display: inline;
    margin: 10px 40px;
    font-size: 18px;
}

ul.menu li:last-of-type {
    margin: 10px 0px 10px 40px;
}

ul.menu li a {
    color: #545454;
    vertical-align: middle;
	transition: color .5s;
}

ul.menu li a:hover, ul.menu li.active_menu a {
    color: #F97068;
	font-weight: 700;
}

/*
.menu .active {
    color: #419d78;
    font-weight: 700;
}
*/

.underline {
    padding-bottom: 5px;
}

.underline:before {
    left: 0;
    bottom: 0;
    width: 100%;
/*    max-width: 75px;*/
    height: 2px;
    background: #F39B6D;
    transform: scaleX(0);
}

.underline:hover:before, ul.menu li.active_menu .underline:before {
    transform: scaleX(1);
}

#header_border {
    height: 5px;
    width: 100%;
    position: relative;
    z-index: 998;
    margin-top: 25px;
	background: #000;
}

/* =============== Intro styles ========================= 
   ========================================================*/
#intro_wrapper {
    min-height: 100vh;
    padding: 125px 0px 0px;
	background: url("../images/sunrise.jpg") no-repeat top center;
	background-size: cover;
}


/*
.intro_container {
	background: rgb(255 255 255 / 92%);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 50px 25px;
	padding: 50px 25px;
    height: 650px;
    width: 800px;
    margin: 0 auto;
}
*/

.intro_container {
    background: rgb(255 255 255 / 92%);
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    box-shadow: 6px 5px 40px 10px rgb(0 0 0 / 10%);
    padding: 50px 25px;
    padding: 50px 25px;
    height: 750px;
    width: 750px;
    margin: 0 auto;
    border-radius: 50%;
}


/*
.intro_container h1 {
    text-align: center;
    padding-top: 133px;
    line-height: 65px;
    color: #3e6990;
    letter-spacing: -1px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
    font-weight: 500;
}
*/

.intro_container h1 {
    text-align: center;
    padding-top: 133px;
    line-height: 65px;
    color: #5c4d8a;
    letter-spacing: -1px;
}

.intro_container h1 span {
	font-family: 'Sacramento', cursive;
    font-weight: 700;
/*	color: #f97068;*/
	color: #acb998;
}

.intro_container h2 {
	text-align: center;
    font-size: 42px;
    line-height: normal;
/*    font-family: 'Sacramento', cursive;*/
    font-weight: 500;
    color: #F39B6D;
    margin-top: 10px;
}


.hello {
    font-size: 55px;
    line-height: 50px;
    margin-bottom: 50px;
    font-weight: 500;
/*    color: #84dd63;*/
}

.hello span {
	color: #84dd63;
}

.intro {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
	margin-bottom: 20px;
}

.intro_arrow {
    margin-top: 100px;
}

/* =============== Phoenix Celebration styles ===============
   ========================================================*/

#phoenix_wrapper {
    padding: 75px 0px 0px;
    min-height: calc(100vh - 70px);
    background: #F97068;
}

/* =============== Roadtrip styles ========================= 
   ========================================================*/

#roadtrip_wrapper {
    padding: 75px 0px 50px;
    min-height: calc(100vh - 70px);
    background: url(../images/open_road.jpg) no-repeat top center;
    background-size: cover;
}

/* =============== Photos styles ========================= 
   ========================================================*/

#photos_wrapper {
    padding: 75px 0px 50px;
    min-height: calc(100vh - 70px);
    background: #F39B6D;
}

.slick-slide img {
    padding: 20px;
}

.photo_rotator .slick-prev, .photo_rotator .slick-next {
    width: 38px;
    height: 30px;
    top: 40%;
    background-color: transparent !important;
	background: none;
}

.photo_rotator .slick-next::before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #3e6990;
    background: none;
    font-size: 32px;
    position: relative;
    z-index: 10;
}

.photo_rotator .slick-prev::before {
    content: "\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #007498;
    background: none;
    font-size: 32px;
    position: relative;
    z-index: 10;
}

.photo_rotator .slick-prev, .photo_rotator .slick-prev:hover {
	left: -20px;
}

.photo_rotator .slick-next, .photo_rotator .slick-next:hover {
	right: -20px;
}

/* =============== Messages styles ========================= 
   ========================================================*/

#messages_wrapper {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 75px 0px 50px;
    background-color: #98B9AB;    
    text-align: center;
}

.message_container {
    max-width: 900px;
	width: 100%;
    height: 350px;
	padding: 15px 10px;
    margin: 25px auto 50px;
    overflow: hidden;
    background: white;
	border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.marquee {
    top: 0;
    position: relative;
    box-sizing: border-box;
    animation: marquee 25s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

.quote {
	font-size: 20px;
	color: #f97068;
	margin: 10px 0px;
	padding: 15px 0px;
	border-bottom: 1px solid #ddd;
}	
	
/* Make it move! */
@keyframes marquee {
    0%   { top:   0px }
    100% { top: -500px }
}

/* =============== Default styles ========================= 
   ========================================================*/
.content_wrapper {
	background: #fff;
	border-radius: 20px;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 25px 25px;
	box-shadow: 0 0 25px rgb(0 0 0 / 40%);
	opacity: 0;
}

h1 {
	font-size: 80px;
    line-height: normal;
    color: #3e6990;
	color: #5c4d8a;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Montez', cursive;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    line-height: normal;
    font-family: 'Sacramento', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #F39B6D;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
	font-size: 26px;
    line-height: normal;
    font-family: 'Sacramento', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #84aa53;
    margin-top: 0px;
    margin-bottom: 10px;
}
/* =============== Media Queries ========================= 
   ========================================================*/
@media only screen and (max-width: 1200px){

}
    
@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px) {

	/*------ Navigation & Header -----------*/
    
	.menu-btn {
		right: 25px;
		}

	.menu li {
		float: none;
		width: 100%;
		height: 25%;
		}
    
}

@media only screen and (max-width: 540px) {

	ul.menu {
		font-size: 24px;
		line-height: 34px;
	}

}