@charset "utf-8";
/* CSS Document */

/* color scheme 

purple - #5c4d8a
pink - #F97068
blue - #3E6990
orange - #f39b6d
green - #98B9AB
green 2 - #acb998
black - #545454
*/

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body,
html {
    margin: 0;
    font-size: 18px;
    color: #545454;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background: rgb(255 255 255 / 75%);
    position: fixed;
    padding: 0px 0px 20px;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main_content {
    color: #545454;
    width: 100%;
    margin: 0px;
    padding: 0px 0px;
}

a, a:link, a:visited, a > span {
	position: relative;
	color:#3E6990;
	text-decoration: none;
}

a:before, a:after, a > span:before, a > span:after {
	content: '';
	position: absolute;
	transition: transform .5s ease;
}

p {
    margin-bottom: 15px;
}

.nav_anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

.row {
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0;
}


/* =============== Header & Navigation ==================== 
   ========================================================*/

ul.menu {
    margin: 25px 0px 0px;
    /* float: right; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

ul.menu li {
    text-align: center;
    display: inline;
    margin: 0;
    font-size: 18px;
}

ul.menu li:last-of-type {
    /* margin: 10px 0px 10px 40px; */
}

ul.menu li a {
    color: #545454;
    vertical-align: middle;
    transition: color .5s;
    padding: 5px 0px;
}

ul.menu li a:hover, ul.menu li.active_menu a {
    color: #F97068;
	font-weight: 700;
}

/*
.menu .active {
    color: #419d78;
    font-weight: 700;
}
*/

.underline {
    padding-bottom: 5px;
}

.underline:before {
    left: 0;
    bottom: 0;
    width: 100%;
/*    max-width: 75px;*/
    height: 2px;
    background: #F39B6D;
    transform: scaleX(0);
}

.underline:hover:before, ul.menu li.active_menu .underline:before {
    transform: scaleX(1);
}

#header_border {
    height: 5px;
    width: 100%;
    position: relative;
    z-index: 998;
    margin-top: 25px;
	background: #000;
}

/* =============== Intro styles ========================= 
   ========================================================*/
#intro_wrapper {
    min-height: 100vh;
    padding: 125px 0px 0px;
	background: url("../images/sunrise.jpg") no-repeat top center;
	background-size: cover;
}


/*
.intro_container {
	background: rgb(255 255 255 / 92%);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 50px 25px;
	padding: 50px 25px;
    height: 650px;
    width: 800px;
    margin: 0 auto;
}
*/

.intro_container {
    background: rgb(255 255 255 / 85%);
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    box-shadow: 6px 5px 40px 10px rgb(0 0 0 / 10%);
    padding: 50px 25px;
    padding: 50px 25px;
    height: 750px;
    width: 750px;
    margin: 0 auto;
    border-radius: 50%;
}


/*
.intro_container h1 {
    text-align: center;
    padding-top: 133px;
    line-height: 65px;
    color: #3e6990;
    letter-spacing: -1px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
    font-weight: 500;
}
*/

.intro_container h1 {
    text-align: center;
    padding-top: 133px;
	font-size: 100px;
    line-height: 65px;
    color: #5c4d8a;
    letter-spacing: -1px;
}

.intro_container h1 span {
	font-family: 'Sacramento', cursive;
    font-weight: 700;
/*	color: #f97068;*/
	color: #acb998;
}

.intro_container h2 {
	text-align: center;
    font-size: 42px;
    line-height: normal;
/*    font-family: 'Sacramento', cursive;*/
    font-weight: 500;
/*
    color: #F39B6D;
	color
*/
    margin-top: 10px;
}


.hello {
    font-size: 55px;
    line-height: 50px;
    margin-bottom: 50px;
    font-weight: 500;
/*    color: #84dd63;*/
}

.hello span {
	color: #84dd63;
}

.intro {
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
	margin-bottom: 20px;
}

.intro_arrow {
    margin-top: 100px;
}

/* =============== Phoenix Celebration styles ===============
   ========================================================*/

#phoenix_wrapper {
    padding: 100px 0px 25px;
    min-height: calc(100vh + 50px);
    background: #F97068;
/*
	background: url(../images/cacti.jpg) no-repeat top center;
    background-size: cover;
*/
	background: url(../images/sparks.jpg?v=1);
    background-size: cover;
    background-position: center;
}

/* =============== Roadtrip styles ========================= 
   ========================================================*/

#roadtrip_wrapper {
    padding: 100px 0px 25px;
    min-height: calc(100vh + 50px);
    background: url(../images/open_road.jpg) no-repeat top center;
    background-size: cover;
}

/* =============== Our Story styles ========================= 
   ========================================================*/

#ourstory_wrapper {
    padding: 100px 0px 25px;
    min-height: calc(100vh + 50px);
/*
    background: url(../images/open_road.jpg) no-repeat top center;
    background-size: cover;
*/
	background: #8d9951;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #fff;
  padding: 50px 0;
}

.timeline ul li p {
    font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 25px;
  background: #5c4d8a;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 520px;
  padding: 15px 10px;
  background: rgb(243 155 109 / 50%);
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 40px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgb(243 155 109 / 50%) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -590px;
  width: 555px;
}

.timeline ul li:nth-child(even) div::before {
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgb(243 155 109 / 50%);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f39b6d;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}				


/* =============== Photos styles ========================= 
   ========================================================*/

#photos_wrapper {
    padding: 100px 0px 25px;
    min-height: calc(100vh + 50px);
    background: #F39B6D;
	background: #f17c56;
	background: url(../images/cactus.jpg) no-repeat top left;
    background-size: cover;
}

.photo_rotator {
	min-height: 450px;
}

.slick-slide img {
    padding: 0px;
	margin: 0 auto;
	max-width: 700px;
	width: auto;
	max-height: 450px;
	height: 100%;
}

.photo_rotator .slick-prev, .photo_rotator .slick-next {
    width: 38px;
    height: 30px;
    top: 50%;
    background-color: transparent !important;
	background: none;
}

.photo_rotator .slick-next::before {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F97068;
    background: none;
    font-size: 32px;
    position: relative;
    z-index: 10;
}

.photo_rotator .slick-prev::before {
    content: "\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F97068;
    background: none;
    font-size: 32px;
    position: relative;
    z-index: 10;
}

.photo_rotator .slick-prev, .photo_rotator .slick-prev:hover {
	left: -50px;
}

.photo_rotator .slick-next, .photo_rotator .slick-next:hover {
	right: -50px;
}

.slick-slide {
    display: inline-block !important;
    vertical-align: middle;
    float: none;
}

.m-p-g {
	max-width: 100%;
	margin: 0 auto;
}

.m-p-g__thumbs-img {
	margin: 0;
	float: left;
	vertical-align: bottom;
	cursor: pointer;
	z-index: 1;
	position: relative;
	opacity: 0;
	filter: brightness(100%);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	will-change: opacity, transform;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__thumbs-img.active {
	z-index: 50;
}

.m-p-g__thumbs-img.layout-completed {
	opacity: 1;
}

.m-p-g__thumbs-img.hide {
	opacity: 0;
}

.m-p-g__thumbs-img:hover {
	transform: scale(1.05);
    z-index: 7;
}

.m-p-g__fullscreen {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0);
	visibility: hidden;
	transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
	will-change: background, visibility;
	backface-visibility: hidden;
}

.m-p-g__fullscreen.active {
	transition: background 0.25s ease-out, visibility 0.01s 0s linear;
	visibility: visible;
	background: rgba(0, 0, 0, 0.85);
}

.m-p-g__fullscreen-img {
	pointer-events: none;
	position: absolute;
	transform-origin: left top;
	top: 50%;
	left: 50%;
	max-height: 100vh;
	max-width: 100%;
	visibility: hidden;
	will-change: visibility;
	transition: opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.active {
	visibility: visible;
	opacity: 1 !important;
	transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
}

.m-p-g__fullscreen-img.almost-active {
	opacity: 0;
	transform: translate3d(0, 0, 0) !important;
}

.m-p-g__controls {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	height: 20vh;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__controls.active {
	opacity: 1;
	visibility: visible;
}

.m-p-g__controls-close, .m-p-g__controls-arrow {
	appearance: none;
	border: none;
	background: none;
}

.m-p-g__controls-arrow {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 20%;
	height: 100vh;
	display: flex;
	align-items: center;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	opacity: 1;
}

.m-p-g__controls-arrow:hover, .m-p-g__controls-arrow:focus,
.m-p-g__controls-close:hover, .m-p-g__controls-close:focus	{
  	color: inherit;
    border-color: inherit;
    background-color: inherit;
    text-decoration: none;
    outline: 0;
}

.m-p-g__controls-arrow--prev {
	left: 0;
	padding-left: 3vw;
	justify-content: flex-start;
}
.m-p-g__controls-arrow--next {
	right: 0;
	padding-right: 3vw;
	justify-content: flex-end;
}
.m-p-g__controls-close {
	position: absolute;
	top: 9vh;
    right: 3vw;
	z-index: 5;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.m-p-g__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.07);
	transition: all 0.25s ease-out;
}
.m-p-g__btn:hover {
	background: rgba(255, 255, 255, 0.15);
}

/* =============== Messages styles ========================= 
   ========================================================*/

#messages_wrapper {
    width: 100%;
    min-height: calc(100vh + 50px);
    padding: 100px 0px 25px;
    background-color: #acb998; 
	background-color: #8d9951;
    text-align: center;
	background: url(../images/lights2.jpg?v=1);
    background-size: cover;
    background-position: center;
}

.message_container {
    max-width: 900px;
	width: 100%;
    height: 350px;
	padding: 15px 10px;
    margin: 25px auto 50px;
    overflow: hidden;
    background: white;
	border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.marquee {
    top: 0;
    position: relative;
    box-sizing: border-box;
/*    animation: marquee 25s linear infinite;*/
}

#messages_wrapper.active_section .marquee {
    animation: marquee 25s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

.quote {
	font-size: 20px;
	color: #8d9951;
    margin: 10px 0px;
    padding: 15px 0px;
    font-weight: 500;
	border-bottom: 1px solid #ddd;
}	

.quote:nth-of-type(even) {
	color: #f17c56;
}	
	
/* Make it move! */
@keyframes marquee {
    0%   { top:   0px }
    100% { top: -500px }
}

/* =============== Contact styles ========================= 
   ========================================================*/

#contact_wrapper {
	width: 100%;
    background-color: #5c4d8a;
	color: #fff;
	text-align: center;
	padding-top: 18px;
}


/* =============== Default styles ========================= 
   ========================================================*/
.content_wrapper {
	background: #FFF;
	border-radius: 20px;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 10px 25px;
	box-shadow: 0 0 25px rgb(0 0 0 / 40%);
	opacity: 0;
}

/*
h1 {
	font-size: 80px;
    line-height: normal;
    color: #3e6990;
	color: #5c4d8a;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Montez', cursive;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    line-height: normal;
    font-family: 'Sacramento', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #F39B6D;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
	font-size: 26px;
    line-height: normal;
    font-family: 'Sacramento', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #acb998;
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
	font-size: 20px;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #545454;
    margin-top: 0px;
    margin-bottom: 10px;
}
*/
h1 {
	font-size: 80px;
    line-height: normal;
	color: #5c4d8a;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Montez', cursive;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    line-height: normal;
    font-family: 'Sacramento', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #f17c56;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
	font-size: 26px;
	line-height: normal;
	font-family: 'Sacramento', cursive;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: #8d9951;
	margin-top: 0px;
	margin-bottom: 10px;
}

h4 {
	font-size: 20px;
	line-height: normal;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	color: #3e6990;
	color: #545454;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* =============== Mobile Menu ========================= 
   ========================================================*/

.nav-panel-mobile {
	width: 100%;
    background: transparent;
    height: 50px;
    position: fixed;
    z-index: 9999;
	display: none;
}

.button_container {
  	position: fixed;
    top: 15px;
    right: 20px;
    height: 25px;
    width: 35px;
    cursor: pointer;
    z-index: 100000;
    transition: opacity .25s ease;
}

.button_container.menu_active .top {
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #fff;
}

.button_container.menu_active .middle {
  opacity: 0;
  background: #fff;
}

.button_container.menu_active .bottom {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #fff;
}

.button_container span {
  background: #5c4d8a;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}

.nav-panel-mobile .button_container span:nth-of-type(2) {
  top: 8px;
}

.nav-panel-mobile .button_container span:nth-of-type(3) {
  top: 16px;
}

.nav-panel-mobile .overlay {
	position: fixed;
	z-index: 999;
	background: #5c4d8a;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}
.nav-panel-mobile .overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}
.nav-panel-mobile .overlay.open li {
  	animation: fadeInRight .5s ease forwards;
  	animation-delay: .35s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(2) {
  	animation-delay: .45s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(3) {
  	animation-delay: .55s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(4) {
  	animation-delay: .65s;
}
.nav-panel-mobile .overlay.open li:nth-of-type(5) {
  	animation-delay: .75s;
}

.nav-panel-mobile .overlay nav {
	position: relative;
	height: 70%;
	top: 60%;
	transform: translateY(-50%);
	text-align: center;
	right: auto;
}

.nav-panel-mobile .overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

.nav-panel-mobile .overlay ul li {
  	margin: 0 auto 40px;
    display: block;
  	height: 25px;
  	position: relative;
  	opacity: 0;
}
.overlay ul li a {
	display: block;
	position: relative;
	color: #fff;
	text-transform: uppercase;
    overflow: hidden;
    padding-bottom: 5px;
	font-weight: 600;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* =============== Media Queries ========================= 
   ========================================================*/
@media only screen and (min-width: 1250px){

/*
	html {
		scroll-snap-type: mandatory;
		scroll-snap-points-y: repeat(100vh);
		scroll-snap-type: y mandatory;
		scroll-padding: 50px;
	}

	section {
		padding: 0 0 0 0;
		height: 100vh;
		scroll-snap-align: start;
		position: relative;
	}
*/
	
}

@media only screen and (max-width: 1200px){

}
    
@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px) {
	
	header {
		padding: 0;
		height: 50px;
	}

	.nav-panel-mobile {
		display: block;
	}
	
	.desktop, .menu {
		display: none;
	}
	
	#intro_wrapper {
		padding: 100px 0px 0px;
	}
	
	.intro_container {
		padding: 25px;
		height: auto;
		width: 100%;
		border-radius: 20px;
		background: #fff;
	}
	
	.content_wrapper {
		opacity: 1;
		padding: 25px;
	}
    
	.intro_container h1 {
		padding-top: 40px;
		font-size: 100px;
		line-height: 90px;
	}
	
	.intro_arrow {
		margin-top: 40px;
	}
	
	h1 {
		line-height: 75px;
	}
	
	#roadtrip_wrapper iframe {
		width: 100%;
	}
	
	.photo_rotator {
    	min-height: 425px;
		margin-bottom: 60px !important;
	}
	
	.slick-slide img {
		padding: 0px;
		margin: 0 auto;
		max-width: 100%;
		width: auto;
		max-height: 400px;
		height: 100%;
	}
	
	.photo_rotator .slick-prev, .photo_rotator .slick-next {
		top: auto;
		bottom: -60px;
	}
	
	.photo_rotator .slick-prev, .photo_rotator .slick-prev:hover {
		left: 0;
	}
	
	.photo_rotator .slick-next, .photo_rotator .slick-next:hover {
		right: 0;
	}
	
	#messages_wrapper .marquee {
		animation: marquee 25s linear infinite;
	}
	
}

@media only screen and (max-width: 540px) {

	ul.menu {
		font-size: 24px;
		line-height: 34px;
	}

}

@media only screen and (max-width: 479px) {


}